:root {
  --color-primary: #F2ECED;
  --color-dark: #1c1c1c;
  --color-light: #fafafa;
  --background: #f1f1f1;
}

// Outils
// ------------------------
/* Local Fonts */
@import 'base/fonts';

/* Reset */
@import 'base/reset';

/* Fonts */
@import 'base/typography';

// Layouts
// ------------------------
/* Header */
@import 'layouts/header';

/* Website base */
@import 'layouts/base';

/* Footer */
@import 'layouts/footer';

// Pages
// ------------------------
/* Page Home */
@import 'pages/home';
/* Pages Errors */
@import 'pages/errors';
/* Pages Legals */
@import 'pages/legals';