@use '../utils/mixins' as m;

#index__pres h1, #index__pres h1 ~ h2 {
  @include m.mq('desktop-up') {
    display: none;
  }
} 

#index__pres div:last-child {
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  
  @include m.mq('tablet-up') {
    width: 90%;
    border-radius: 8px;
    overflow: hidden;
  }

  @include m.mq('desktop-up') {
    width: 100%;
  }

  & div, & img {
    width: 100%;
    height: auto;

    @include m.mq('desktop-up') {
      width: 50%;
      height: auto;
      margin: 0 auto;
    }
  }

  & div {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: var(--color-light);

    &:nth-child(1) {
      padding: 15px;

      & p {
        margin-bottom: 0.5em;
        font-size: $font-size-sm;

        &:nth-child(2), &:nth-child(5), &:nth-child(7) {
          margin-bottom: 1.5em;
        }
      }

      & a {
        margin: 30px 0;
        font-size: $font-size-sm;
      }
    }
  }
}

#index__services ul {
    width: 100%;
    @include m.flex-container-center;
    margin-bottom: 1rem;
}

#index__services ul li {
  width: 100%;
  @include m.flex-container-center;
  margin-bottom: 2em;

  & h3 {
    width:100%;
  }

  & img {
    width: 150px;
    height: auto;
  }

  @include m.mq('tablet-down') {
    width: 30%;
  } 
}