@use '../utils/mixins' as m;

.button {
  padding: 15px 20px;
  color: var(--color-light);
  background-color: #B2ADAA;
  border-radius: 8px;
  border: none;

  &:hover {
    background-color: #D0C8C0;
  }
}

.button__header {
  @extend .button;
}

.button__form {
  @include m.flex-container-center;
  @extend .button;
  width: 40%;
}