:root {
  --color-primary: #F2ECED;
  --color-dark: #1c1c1c;
  --color-light: #fafafa;
  --background: #f1f1f1;
}

/* Local Fonts */
@font-face {
  font-family: "Fall in Love";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/public/fonts/fall-in-love/fall-in-love_regular.woff2") format("woff2"), url("/public/fonts/fall-in-love/fall-in-love_regular.woff") format("woff"), url("/public/fonts/fall-in-love/fall-in-love_regular.ttf") format("truetype"), url("/public/fonts/fall-in-love/fall-in-love_regular.svg") format("svg"); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/public/fonts/roboto/roboto-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("/public/fonts/roboto/roboto-regular.eot?#iefix") format("embedded-opentype"), url("/public/fonts/roboto/roboto-regular.woff2") format("woff2"), url("/public/fonts/roboto/roboto-regular.woff") format("woff"), url("/public/fonts/roboto/roboto-regular.ttf") format("truetype"), url("/public/fonts/roboto/roboto-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("/public/fonts/roboto/roboto-italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("/public/fonts/roboto/roboto-italic.eot?#iefix") format("embedded-opentype"), url("/public/fonts/roboto/roboto-italic.woff2") format("woff2"), url("/public/fonts/roboto/roboto-italic.woff") format("woff"), url("/public/fonts/roboto/roboto-italic.ttf") format("truetype"), url("/public/fonts/roboto/roboto-italic.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

textarea {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  resize: none;
}

/* Fonts */
body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Fall in Love", sans-serif;
  font-size: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  text-transform: capitalize;
}

h2 {
  font-family: "Fall in Love", sans-serif;
  font-size: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

h3 {
  font-family: "Fall in Love", sans-serif;
  font-size: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  font-weight: normal;
  text-align: center;
}

p, a, li, button, label, input, textarea {
  font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
}

/* Header */
header {
  background: url("/public/img/utils/fond-top.png") no-repeat;
  background-position: top;
  background-size: 100%;
}

header .container {
  width: 100%;
  display: flex;
  padding: 15px 10px;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  header .container {
    padding: 15px 3px;
    justify-content: space-between;
  }
}

#header-phone {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1rem 10px;
}
@media (min-width: 768px) {
  #header-phone {
    display: none;
  }
}
#header-phone #logo {
  margin-top: 0.9rem;
}
#header-phone #menuToggle {
  display: block;
  position: relative;
  top: 8px;
  left: 0px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  width: 90%;
}
#header-phone #menuToggle a {
  text-decoration: none;
  transition: color 0.3s ease;
}
#header-phone #menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
#header-phone #menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: rgb(255, 255, 255);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#header-phone #menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#header-phone #menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
#header-phone #menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--color-dark);
}
#header-phone #menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#header-phone #menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#header-phone #menuToggle input:checked ~ ul {
  transform: none;
}
#header-phone #menu {
  position: absolute;
  width: 103vw;
  height: 103vh;
  margin: -80px 0 0 -10px;
  padding: 50px;
  padding-top: 125px;
  background: var(--background);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#header-phone #menu li {
  margin: 25px;
}
#header-phone #menu li a {
  padding: 20px 0;
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
#header-phone #menu li a:hover {
  color: var(--color-primary);
}

#logo {
  width: 150px;
  height: auto;
}

/* Website base */
.container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container h1, .container h2 {
  width: 100%;
}

main {
  padding: 2rem 0;
}

h1 span:first-child {
  color: var(--color-primary);
}
h1 span:last-child {
  color: var(--color-secondary);
}

h1 ~ h2 {
  margin-top: -0.5rem;
}

h2 {
  margin: 2rem 0;
}

/* Buttons */
.button, .button__form, .button__header {
  padding: 15px 20px;
  color: var(--color-light);
  background-color: #B2ADAA;
  border-radius: 8px;
}
.button:hover, .button__form:hover, .button__header:hover {
  background-color: #D0C8C0;
}

.button__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 40%;
}

article ~ .button, article ~ .button__header, article ~ .button__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* article albums */
.album {
  margin: 30px;
  background-color: #D0C8C0;
}

.img-album {
  filter: brightness(0.8);
}

.album .icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: -50px;
  padding: 0 10px;
}

.album .icons img {
  width: 30px;
  height: auto;
  z-index: 0;
}

.album .albumcontent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
  padding: 8px 10px;
  border: 5px solid #B2ADAA;
  border-top: none;
}

.albumcontent h4, .albumcontent h5, .category, .price {
  width: 100%;
  text-align: center;
}

.albumcontent h4 {
  margin-top: 5px;
}

/* Footer */
#copyright {
  margin-bottom: 0.2em;
  color: rgb(89, 23, 151);
  font-size: 0.9rem;
}

/* Page Home */
h1 {
  display: none;
}
@media (min-width: 576px) {
  h1 {
    display: initial;
  }
}

/* Pages Errors */
.error {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 25vh auto;
}
.error h1 {
  width: 100%;
  margin: 20px auto;
  color: var(--color-primary);
  text-align: center;
}
.error p {
  width: 100%;
  text-align: center;
  margin-bottom: 3em;
}

/* Pages Legals */
#rgpd, #mentionslegales {
  justify-content: flex-start;
  width: 100%;
}
#rgpd h1, #mentionslegales h1 {
  display: block;
  margin-bottom: 0.8em;
  font-size: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  font-weight: 900;
}
#rgpd h3, #mentionslegales h3 {
  width: 100%;
  margin: 1em 0 0.3em;
  font-weight: 500;
}
#rgpd p, #mentionslegales p {
  width: 100%;
}
#rgpd ul, #mentionslegales ul {
  margin: 0 0 1em 1em;
  list-style: disc;
}

/*# sourceMappingURL=style.css.map */
