@import '../utils/variables';

body {
  font-family: $font;
}

h1 {
  font-family: $fontTitle;
  font-size: $font-size-lg;
  text-transform: capitalize;
}

h2 {
  font-family: $fontTitle;
  font-size: $font-size-lg;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

h3 {
  font-family: $fontTitle;
  font-size: $font-size-lg;
  font-weight: normal;
  text-align: center;
}

p, a, li, button, label, input, textarea {
  font-size: $font-size-base;
}