@use '../utils/mixins' as m;

.container {
  margin: 0 auto;
  max-width: 1200px;
  @include m.flex-container-center;

  & h1, h2 {
    width: 100%;
  }
}

main {
  padding: 2rem 0;
}

h1 {
  span:first-child {
    color: var(--color-primary);
  }

  span:last-child {
    color: var(--color-secondary);
  }
}

h1 ~ h2 {
  margin-top: -0.5rem;
}

h2 {
  margin: 2rem 0;
}

/* Buttons */
@import '../components/buttons';
article ~ .button {
  @include m.flex-container-center;
  margin: 0 auto;
}

/* article albums */
@import '../components/article';