@use '../utils/mixins' as m;

h1 {
  color: var(--color-light);
  display: none;

  @include m.mq('desktop-up') {
    display: initial;
    position: absolute;
    top: 10px;
    left: 0;
  }
}

header {
  background: url("/public/img/utils/fond-top.png") no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 30vh;

  @include m.mq('tablet-down') {
    position: relative;
    height: 500px;
  }

  & #header-loupe-h2 h2 {
    width: 50%;
    color: var(--color-light);
    @include m.mq('desktop-up') {
      display: none;
    }
  }
}

header .container {
  display: none;

  @include m.mq('tablet-up') {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 3px;

    & #spacebetween-header {
      width: 100%;
      @include m.flex-container;
      justify-content: space-between;
      align-items: center;
    }

    & #header-loupe-h2 {
      width: 50%;
      @include m.flex-container;
      align-items: center;

      & h2 {
        margin: 0;
      }

      & a {
        @include m.mq('desktop-up') {
          margin-left: 8rem;
        }
      }
    }

    & ul {
      width: 100%;
      display: flex;
      justify-content: center;
      color: var(--color-light);
      font-size: 1.5rem;

      & li {
        margin: 0 10px;
      }
    }
  }  
}

#header-phone {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1rem 10px;

  @include m.mq('tablet-up') {
    display: none;
  }

  & #logo {
    margin-top: 0.9rem;
  }

  @import '../components/burgermenu';
}

#logo-header {
  @include m.mq('tablet-up') {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  & img {
    width: 40px;
    height: auto;
    margin: 0 10px; 
  }
}

#logo {
  width: 150px;
  height: auto;

  @include m.mq('tablet-down') {
    width: 200px;
  }
}