@use '../utils/mixins' as m;

header {
  background: url("/public/img/utils/fond-top.png") no-repeat;
  background-position: top;
  background-size: 100%;
}

header .container {
  width: 100%;
  display: flex;
  padding: 15px 10px;
  justify-content: space-between;
  align-items: center;
  
  @include m.mq('tablet-up') {
    padding: 15px 3px;
    justify-content: space-between;
  }  
}

#header-phone {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1rem 10px;

  @include m.mq('tablet-up') {
    display: none;
  }

  & #logo {
    margin-top: 0.9rem;
  }

  @import '../components/burgermenu';
}

#logo {
  width: 150px;
  height: auto;
}